/*
 * This file is for override ant-design default theme.
 * You can override those default less variable: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 * More detail about customize theme, please see: https://ant.design/docs/react/customize-theme
 */

// body
@body-background: rgb(51, 51, 51);

// Buttons
@btn-border-radius-base: 2px;
@btn-border-width: 1px;

@btn-default-color: #fff;
@btn-default-bg: transparent;
@btn-default-border: rgb(4, 87, 122);

@btn-disable-color: rgb(102, 102, 102);
@btn-disable-bg: transparent;
@btn-disable-border: rgb(68, 68, 68);

@btn-height-base: 25px;
