/*
 * This file is for override ant-design default theme.
 * You can override those default less variable: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 * More detail about customize theme, please see: https://ant.design/docs/react/customize-theme
 */

// Base
@body-background: var(--theme-color-body-background);
@font-family: 'Segoe UI normal', 'Segoe UI', 'Open Sans';
@text-color: var(--theme-color-font-color);
@component-background: var(--theme-color-component-background);
@border-color-base: var(--theme-color-modal-filed-border);

// Buttons
@btn-default-color: var(--theme-color-font-color);
@btn-default-bg: var(--theme-color-btn-bg);
@btn-default-border: var(--theme-color-btn-border);
@btn-disable-color: var(--theme-color-btn-disabled-font);
@btn-disable-bg: var(--theme-color-btn-disabled-bg);
@btn-disable-border: var(--theme-color-btn-disabled-border);
@btn-primary-color: var(--theme-color-btn-primary-font);
@btn-primary-bg: var(--theme-color-btn-primary-bg);
@btn-primary-border: var(--theme-color-btn-primary-border);
