// You should never change those base color !!!
// You can add new one, but never try to change those exsiting.

// You should never use those base color in your UI components or UI page.
// You should use those color only in theme file, dark.less or light.less.

:root {
  // Black
  --base-color-black: #000000;
  --base-color-black-opacity-20: rgba(0, 0, 0, 0.2);
  --base-color-black-opacity-50: rgba(0, 0, 0, 0.5);
  --base-color-black-light: #111111;

  // Grey
  --base-color-grey: #666666;
  --base-color-grey-light: #999999;
  --base-color-grey-xlight: #cccccc;
  --base-color-grey-dark: #333333;
  --base-color-grey-sdark: #424242;
  --base-color-grey-xdark: #222222;
  --base-color-grey-blue: #36414a;

  // Blue
  --base-color-blue: #39a1cd;
  --base-color-blue-grey: #316a83;
  --base-color-blue-opacity-20: rgba(57, 161, 205, 0.2);
  --base-color-blue-opacity-35: rgba(57, 161, 205, 0.35);
  --base-color-blue-opacity-55: rgba(57, 161, 205, 0.55);
  --base-color-blue-dark: #005c84;
  --base-color-blue-xdark: #013c5c;

  // Green
  --base-color-green: #99cc00;
  --base-color-green-light: #17c017;

  // Orange
  --base-color-orange: #ff9900;

  // Red
  --base-color-red: #ff6961;
  --base-color-red-dark: #8a2525;

  // Yellow
  --base-color-yellow: #ffcc00;

  // White
  --base-color-white: #ffffff;
  --base-color-white-gery: #f2f2f2;
}
