@color-body-background: rgb(51, 51, 51);
@color-btn-border: rgb(4, 87, 122);
@color-disabled: rgb(102, 102, 102);
@color-disabled-border: rgb(68, 68, 68);
@color-transparent: transparent;
@color-white: #fff;
