// use nesting style , or it will be global class
.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  border-bottom: 5px solid #000;
  box-sizing: border-box;

  .header-nav {
    margin-left: 30px;
    .link {
      display: inline-block;
      height: 43px;
      line-height: 45px;
      padding: 0 10px;
      color: #999;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: #ccc;
      }
      &.active {
        background: #111;
      }
    }
  }

  .header-icon{
    height: 36px;
  }
}
